:root{
    --main-background: #181a1b;
    --accent-colour: rgb(180, 30, 110);
    --scndry-colour: #222;
    --text-colour: whitesmoke;
}

.mainMenu ul{
    list-style-type: none;
    background-color: #333;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.mainMenu li{
    display: block;
    font-size: large;
    float: left;
    padding: 14px 10px;
}

.mainMenu a{
    padding: 14px 10px;
    color: white;
    text-decoration: none;
}

.mainMenu a:hover, a:active{
    background-color: var(--accent-colour);
    transition-duration: 0.4s;
}

body{
    background-color: var(--main-background);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#homeImg{
    height: 500px;
    width: 100%;
    background-color: var(--accent-colour);
}

.blurb{
    color: var(--text-colour);
    background-color: var(--scndry-colour);
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;
}

.homeMain{
    color: var(--text-colour);
    padding: 2rem;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
}

.about{
    padding: 14px 10px;
    color: white;
    text-decoration: none;
    border: 2px solid var(--accent-colour);
    border-radius: 2px;
}

.about:hover, .about:active{
    background-color: var(--accent-colour);
    transition-duration: 0.4s;
}

.mainCats{
    color: var(--text-colour);
    background-color: var(--scndry-colour);
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);   
    column-gap: 5rem;
}

.cat img{
    box-shadow: 0 8px 16px 0 rgba(190, 190, 190, 0.2), 0 6px 20px 0 rgba(190, 190, 190, 0.19);
}

.ftdPrdctHdr{
    color: var(--accent-colour);
    text-align: center;
    font-size:xx-large;
}

.ftdPrdct{
    color: var(--text-colour);
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 2rem;
}

.ftdPrdct a{
    text-decoration: none;
    color: var(--accent-colour);
}

.ftdPrdct a:hover{
    color: var(--text-colour);
    transition-duration: 0.4s;
}

.aboutMain{
    color: var(--text-colour);
    padding: 2rem;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.founder, .rd, .engnr{
    color: var(--text-colour);
    background-color: var(--scndry-colour);
    padding: 2rem;
    margin: 1rem;


    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: row;
    column-gap: 3rem;
}

.founder > img, .rd > img, .engnr > img{
    width: 875px;
}

.founder > p, .rd > p, .engnr > p{
    padding: 1rem;
}

.moreRD{
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutBlurb{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
