:root{
    --main-background: #181a1b;
    --accent-colour: rgb(180, 30, 110);
    --scndry-colour: #222;
    --text-colour: whitesmoke;
}

/* Home Page Styling */
/* Header Styling  10 - 49 */
.mainMenu ul{
    list-style-type: none;
    background-color: #333;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.mainMenu li{
    display: block;
    font-size: large;
    float: left;
    padding: 14px 10px;
}

.mainMenu a{
    padding: 14px 10px;
    color: white;
    text-decoration: none;
}

.mainMenu a:hover, a:active{
    background-color: var(--accent-colour);
    transition-duration: 0.4s;
}

.logo:hover, .logo:active{
    background-color: transparent !important;
}

.logo{
    text-decoration: none;
    padding: 14px 10px;
}

.mainMenu img{
    object-fit: scale-down;
    height: 24px;
    width: 96px;
}

body{
    background-color: var(--main-background);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#homeImg{
    height: 500px;
    width: 100%;
    background-color: var(--accent-colour);
}

.blurb{
    color: var(--text-colour);
    background-color: var(--scndry-colour);
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;
}

.homeMain{
    color: var(--text-colour);
    padding: 2rem;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
}

.intro > p{
    font-size: large;
    line-height: 25px;
}

.about{
    padding: 14px 10px;
    color: white;
    text-decoration: none;
    border: 2px solid var(--accent-colour);
    border-radius: 2px;
}

.about:hover, .about:active{
    background-color: var(--accent-colour);
    transition-duration: 0.4s;
}

.mainCats{
    color: var(--text-colour);
    background-color: var(--scndry-colour);
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);   
    column-gap: 5rem;
}

.cat img{
    box-shadow: 0 8px 16px 0 rgba(190, 190, 190, 0.2), 0 6px 20px 0 rgba(190, 190, 190, 0.19);
}

/* Featureed Product Styling 115 - 161 */
.ftdPrdctHdr{
    color: var(--accent-colour);
    text-align: center;
    font-size:xx-large;
}

.ftdPrdct{
    color: var(--text-colour);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 2rem;
    justify-items: center;
}

.ftdPrdct a{
    text-decoration: none;
    color: var(--accent-colour);
}

.ftdPrdct a:hover{
    color: var(--text-colour);
    transition-duration: 0.4s;
}

.productImg{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #686868;
    color: var(--scndry-colour);
    align-items: center;
}

.productImg > img{
    margin: 10px;
    height: 300px;
    max-width: 300px;
    background-color: white;
    object-fit:scale-down;
}

/* About Page Styling */
.aboutMain{
    color: var(--text-colour);
    padding: 2rem;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.founder, .rd, .engnr{
    color: var(--text-colour);
    background-color: var(--scndry-colour);
    padding: 2rem;
    margin: 1rem;


    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: row;
    column-gap: 3rem;
}

.founder > img, .rd > img, .engnr > img{
    width: 875px;
}

.founder > p, .rd > p, .engnr > p{
    padding: 1rem;
}

.moreRD{
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutBlurb{
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
}

/* Product Page Styling */
.productMain{
    color: var(--text-colour);
    padding: 2rem;

   text-align: center;
}

.productList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    column-gap: 2rem;
    row-gap: 3rem;
    justify-items: center
}

.productItem{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #686868;
    color: var(--scndry-colour);
}

.productItem:hover{
    box-shadow: 10px 10px 10px #686868;
}

.productItem > a{
    text-decoration: none;
    color: var(--accent-colour);
}

.productItem > img{
    margin: 10px;
    height: 300px;
    max-width: 300px;
    background-color: white;
    object-fit:scale-down;

}

/* Contact Page Styling */
.contact{
    background-color: var(--scndry-colour);
    color: var(--text-colour);
    border-radius: 5px;
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center
}

.submit{
    padding: 3rem;
}

.label{
    margin-top: 2rem;
    text-align: center;
}

.input{
    width: 25%;
    margin-top: 1rem;
}

input[type = text], input[type = email], textarea{
    background-color: #333;
    width: 100%;
    padding: 12px;
    border: 1px solid var(--accent-colour);
    border-radius: 5px;
    resize: vertical;
    color: var(--text-colour);
}

textarea{
    height: 200px;
}

input[type=submit]{
    color: var(--text-colour);
    padding: 14px 24px;
    border-radius: 3px;
    cursor: pointer;
    background-color: var(--scndry-colour);
    border: 1px solid var(--accent-colour);
}

input[type=submit]:hover{
    background-color: var(--accent-colour);
    transition-duration: 0.4s;
}